header {
    display:grid;
    font-family:'nobel';
    grid-template-columns:auto 1fr auto;
    margin:0 auto;
    max-width:100%;
    padding:1rem;
    position:relative;
    background-color:#eeeeee;
    z-index:1
  }
  header label {
    display:none;
    color:#474a54;
    font-size:24px;
    right:4vw
  }
  .header_name {
    font-size:1.5rem;
    text-decoration:none;
    color:#474a54
  }
  .header_name:hover {
    text-decoration:none;
    opacity:0.7
  }
  .site-top-nav {
    grid-column:3/4
  }
  .site-top-nav-list {
    margin:0;
    padding:0
  }
  .site-top-nav-list li {
    display:inline;
    font-family:'nobel';
    font-size:1.2rem;
    font-weight:400;
    padding:12px
  }
  .site-top-nav-list li a {
    text-decoration:none;
    color:#474a54;
    transition:.3s
  }
  .site-top-nav-list li a:hover {
    opacity:0.8
  }
  #navbar-check {
    display:none
  }
  .navbar-label-close {
    display:none
  }
body {
    margin: 0;
  
    font-family: sans-serif;
  
    color: #474a54;
  
    line-height: 1.6em;
  
    background-color: #F4F4F4;
  
}
h1.title{
    text-align: center  ;

    font-size: xx-large;
}
h2.subtitle{
    text-align: center;

    font-size: medium;
}
.moji{
  text-align: center  ;
}
.container2{
    background-color: #F4F4F4;
}
.container3{
    background-color: #F4F4F4;
}
.container4{
    background-color: #F4F4F4;
}
.hr2 {
    border-top: 3px solid #d7d5d5;
    width: 50%;
}
.more-btn {
    text-decoration:none;
    --more-btn-color:#333;/*矢印と文字の色はここで設定*/
    text-align: center;/*ボタン中央寄せ（右寄せにしたいときはrightに変更）*/
}

.more-btn a {
    position: relative; /*位置（ここを基準に）*/
    padding: 0 3em 0 .5em; /*内側余白調整（上右下左）*/
    color: var(--more-btn-color);  /*リンク文字色*/
    text-decoration: none; /*リンク下線を消す*/
    outline: none; /*枠線を消す*/
}

.more-btn a::before,
.more-btn a::after{
    content: ''; /*矢印部分作成*/
    position: absolute; /*位置（下線と矢印を配置する）*/
    background: var(--more-btn-color); /*矢印の色*/
    height: 1px; /*線の太さ*/
    transition: all .3s; /*なめらかな動き*/
}

.more-btn a::before {
    bottom: -10px; /*下線の下からの距離*/
    left: 0%; /*左からの距離*/
    width: 90%; /*ボタンの幅*/
}

.more-btn a::after {
    bottom: -5px; /*矢印の下からの距離*/
    right: 10%; /*右からの距離*/
    width: 15px; /*矢印部分の幅*/
    transform: rotate(35deg); /*角度調整*/
}

/*マウスオーバー時の動き*/
.more-btn a:hover::before{
    left: 10%;
}

.more-btn a:hover::after {
    right:0%;
}